[Unit]
Description=HAPI FHIR Server

[Service]
Type=notify
User=opencr
# ExecStart=ExecStart=/usr/bin/bash -c '/opt/apache-maven-3.6.3/bin/mvn -Djetty.port=8080 jetty:run'
ExecStart=/opt/apache-maven-3.6.3/bin/mvn jetty:run
WorkingDirectory=/home/{{ user }}/hapi-fhir-jpaserver-starter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target